<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8">

<title>元气愿景</title>
</head>

<body>

<div id="index">
<div class="story-topbar"></div>
	<div class="left-over-coffe-only-one" style='top:165px;'>
    	<ul>
    	<li class="left-over-coffe-text-3">元气愿景
    	</ul>
	</div>

	<div class="left-para-coffe">
		<ul class="left-para-ul">
			<li class="left-para-list"><a href="/气之源/气之站介绍">气之站介绍</a>
			</li>
            <li class="left-para-list"><a href="/气之源/品牌故事">品牌故事</a>
			</li>
			<li class="left-para-list"><a href="/气之源/新闻站">新闻站</a>
			</li>
			
		</ul>
	</div>
<div class="future-middle">
<div class="para-Y-left-bc"></div>
	<div class="para-Y-left">
	<%=raw @page.content_for(:QZZVisionHeadDiv1)%>
	</div>
    
	<div class="para-W-right">
		<%=raw @page.content_for(:QZZVisionTextDiv1)%>
</div>
       <div class="left-2"></div>
	<div class="para-W-right-1">
		<%=raw @page.content_for(:QZZVisionTextDiv2)%>
    </div>
    
    
    <div class="para-Y-left-1-bc"></div>
    <div class="para-Y-left-1">
		<%=raw @page.content_for(:QZZVisionHeadDiv2)%>
	</div>
	<div class="para-Y-left-2-bc"></div>
	<div class="para-Y-left-2">
		<%=raw @page.content_for(:QZZVisionHeadDiv3)%>
	</div>
    
	<div class="para-W-right-2">
		<%=raw @page.content_for(:QZZVisionTextDiv3)%>
        
    </div>
    <div class="left-4"></div>
   <div class="para-W-right-3">
		<%=raw @page.content_for(:QZZVisionTextDiv4)%> 
   </div>
     <div class="para-Y-left-3-bc"></div>   
    <div class="para-Y-left-3">
		<%=raw @page.content_for(:QZZVisionHeadDiv4)%>
	</div>

</div>
<div class="story-bottombar"></div>
</div>
</body>
</html>
