<style type='text/css'>
	#leftTextDiv{
		height: 450px;
		width: 550px;
		position: absolute;
		top: 20px;
		left: 20%;
		font-size: 13px;
		background-color: white;
		opacity: 0.6;
		padding-left:15px;
	}
	#leftTextDiv p{
		margin:5px 0;
	}
	.rightImgDiv{
		position: absolute;
		height: 350px;
		width: 240px;
		top: 90px;
		right: 10%;
	}
	.rightImgDiv p{
		margin:0;
		padding:0;
	}
	
	.bottom_big_img{
		max-height:310px;
		width:240px;
	}
	.topLogoImg{
		max-width:240px;
		max-height:100px;
	}
	.rightImgDiv{
		display:none;
	}
	#rightImageDiv1{
		display:block;
	}
	#rightImageDiv5>p>.bottom_big_img{
		height:270px;
	}
	#rightImageDiv2>p>img{
		width:240px;
	}
	.headlineP1{
		font-size: 18px;
	}
	.headlineP2{
		font-weight: bold;
		padding-left:20px;
	}
	.headlineP3{
		padding-left: 30px; 
	}
	.normalLineP1{
		padding-left:158px;
	}
	.normalLineP2{
		padding-left:77px;
	}
	.normalLineP3{
		padding-left:78px;
	}
	p{
		margin-bottom:5px;
	}
	.salesPlaceText :hover{
		color:#927044;
	}
	.logo_text{
		color:#927044;
		font-size:20px;
		display:inline-block;
	}
</style>

<% content_for :javascripts do %>
<script type='text/javascript'>
	jQuery(document).ready(function() {
		$('.salesPlaceText').mouseover(function(){
			var showDiv='rightImageDiv'+$(this).attr('id').substring(9,10);
			$('.rightImgDiv').hide();
			$('#'+showDiv).show();
		});
	});
</script>
<% end %>
<div id='leftTextDiv'>
	<%=raw @page.content_for(:salesPlaceText)%>
</div>
<div id='rightImageDiv1' class='rightImgDiv'>
	<p><%=raw @page.content_for(:salesPlaceImg1_1)%><span class='logo_text'></span></p>
	<p><%=raw @page.content_for(:salesPlace1_2)%></p>
</div>
<div id='rightImageDiv2' class='rightImgDiv'>
	<p><%=raw @page.content_for(:salesPlaceImg2_1)%></span></p>
	<p><%=raw @page.content_for(:salesPlaceImg2_2)%></p>
</div>
<div id='rightImageDiv3' class='rightImgDiv'>
	<p><%=raw @page.content_for(:salesPlaceImg3_1)%></span></p>
	<p><%=raw @page.content_for(:salesPlaceImg3_2)%></p>
</div>
<div id='rightImageDiv4' class='rightImgDiv'>
	<p>
		<%=raw @page.content_for(:salesPlaceImg4_1)%>
		<span class='logo_text' style='width: 80px;height: 50px;float: right;padding-top: 8px;'>沪上知名连锁药店</span>
	</p>
	<p><%=raw @page.content_for(:salesPlaceImg4_2)%></p>
</div>
<div id='rightImageDiv5' class='rightImgDiv'>
	<p>
		<%=raw @page.content_for(:salesPlaceImg5_1)%>
		<span class='logo_text' style='width: 150px;height: 5px;float: right;padding-top: 75px;'>知名中医诊所</span>
	</p>
	<p><%=raw @page.content_for(:salesPlaceImg5_2)%></p>
</div>

