<p id="notice"><%= notice %></p>

<p>
  <b>Sku:</b>
  <%= @coupon.sku %>
</p>

<p>
  <b>Coupon:</b>
  <%= @coupon.coupon %>
</p>

<p>
  <b>Discount:</b>
  <%= @coupon.discount %>
</p>

<p>
  <b>Percentage off:</b>
  <%= @coupon.percentage_off %>
</p>


<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
