<h1>Listing membership_addresses</h1>

<table>
  <tr>
    <th>Membership</th>
    <th>Username</th>
    <th>Mobile</th>
    <th>Phone</th>
    <th>Province</th>
    <th>City</th>
    <th>District</th>
    <th>Postal</th>
    <th>Addr</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @membership_addresses.each do |membership_address| %>
  <tr>
    <td><%= membership_address.membership_id %></td>
    <td><%= membership_address.username %></td>
    <td><%= membership_address.mobile %></td>
    <td><%= membership_address.phone %></td>
    <td><%= membership_address.province %></td>
    <td><%= membership_address.city %></td>
    <td><%= membership_address.district %></td>
    <td><%= membership_address.postal %></td>
    <td><%= membership_address.addr %></td>
    <td><%= link_to 'Show', membership_address %></td>
    <td><%= link_to 'Edit', edit_membership_address_path(membership_address) %></td>
    <td><%= link_to 'Destroy', membership_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Membership address', new_membership_address_path %>
