<p id="notice"><%= notice %></p>

<p>
  <b>Membership:</b>
  <%= @membership_address.membership_id %>
</p>

<p>
  <b>Username:</b>
  <%= @membership_address.username %>
</p>

<p>
  <b>Mobile:</b>
  <%= @membership_address.mobile %>
</p>

<p>
  <b>Phone:</b>
  <%= @membership_address.phone %>
</p>

<p>
  <b>Province:</b>
  <%= @membership_address.province %>
</p>

<p>
  <b>City:</b>
  <%= @membership_address.city %>
</p>

<p>
  <b>District:</b>
  <%= @membership_address.district %>
</p>

<p>
  <b>Postal:</b>
  <%= @membership_address.postal %>
</p>

<p>
  <b>Addr:</b>
  <%= @membership_address.addr %>
</p>


<%= link_to 'Edit', edit_membership_address_path(@membership_address) %> |
<%= link_to 'Back', membership_addresses_path %>
